<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-lg-8 text-center">
      <h1 class="display-4 fw-bold">Home#index</h1>
      <p class="lead">This is an experiment made to deal with the flag-icons issue from a Reddit user.</p>
      <hr class="my-4">
      <p>Find me in <code>app/views/home/index.html.erb</code>.</p>
      <!-- Button for external link -->
      <a href="https://www.reddit.com/r/rails/comments/1g1k0fc/issue_with_flagiconsrails_gem_on_rails_8_app/" class="btn btn-primary btn-lg mt-3" target="_blank">
        Learn More on Reddit
      </a>
    </div>
  </div>

  <div class="row justify-content-center mt-5">
    <div class="col-lg-8 text-center">
      <p class="fw-light">
        <span class="fi fi-br"></span> <span class="fi fi-br fis"></span>
        Made by <strong>Vinícius Bispo</strong>
      </p>
    </div>
  </div>

  <!-- Footer Section -->
  <footer class="mt-5 text-center">
    <div class="container">
      <p class="text-muted">Connect with me on 
        <a href="https://www.linkedin.com/in/vinibispo/" target="_blank" class="link-primary">LinkedIn</a> 
        or check out my <a href="https://github.com/vinibispo" target="_blank" class="link-primary">GitHub</a>.
      </p>
    </div>
  </footer>
</div>
